* {
  padding: 0px;
  margin: 0px;
}
.container {
  display: flex;
  background-color: #dddddd;
  width: 100%;
}

.section_one {
  flex: 0.5;
  box-sizing: border-box;
}

.section_two {
  flex: 3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  .container {
    height: auto;
    width: 100vw;
    background-color: #dddddd;
  }
  .section_one {
    position: absolute;
  }
}
